@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body{
    font-family: 'Lato', sans-serif;
    background-image: url("../img/azul.jpg");
    background-color: rgb(9, 10, 10);
    background-size: cover;
    text-align: left;
    padding-left: 100px;
}
h2 {
    font-size: 50px;
    color: rgb(14, 13, 13);

}
button{
    padding: 15px 40px;
    font-size: 22px;
    background:transparent;
    border: 3px solid 
    cornflowerblue rgb(white)
}


.button-portafolio{

text-align: right;

}

.button-portafolio{
 background-color: antiquewhite;
    text-align: left;


}